.heading {
    text-align: center;
    font-family: sans-serif;
    font-size: 38px;
    color: white;
    border-style: solid;
    border: 3px solid black;
    height:95px;
    background: rgb(10, 132, 255);
    position: relative;
    bottom:23px;
}

.headingCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    bottom: 18px;
}

.authentication {
    text-align: right;
    font-family: roboto;
    font-size: 15px;
    color: white;
}

.link {
    position: relative;
    right: 15px;
    display: none;
    color: white;
}

.goodDeed {
    position: relative;
    text-align: center;
    font-family: roboto;
    font-size: 50px;
    color: rgb(10, 132, 255);
    bottom: 45px;
}

.goodDeedDes {
    position: relative;
    text-align: center;
    font-family: roboto;
    font-size: 18px;
    color: rgb(10, 132, 255);
    bottom: 45px;
}

.goodDeedTitle {
    display:inline;
    font-family: roboto;
    font-size: 18px;
    text-decoration: underline;
    color: rgb(10, 132, 255);
}

.date_deedContainer {
    position: relative;
    text-align: left;
    left: 30px;
}














